{% load static %}
<style>
    .teacher {
        width: 90%;
        max-width: 450px;
        height: fit-content;
        margin: 10px auto; /* تغییر مکان برای مرکز کردن */
        border-radius: 5px;
        background: linear-gradient(#1A3636, #40534C, #677D6A);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    .pic {
        border-radius: 100%;
        max-width: 150px;
        margin: 20px auto;
    }
    .about {
        color: white;
        text-align: center;
    }
    @media only screen and (max-width: 600px) {
        .teacher {
            width: 100%;
            margin: auto;
        }
        .pic {
            max-width: 150px;
            margin: 10px auto;
        }
        .about h3 {
            font-size: 1.5em;
        }
        .about p {
            font-size: 1em;
        }
    }
</style>

<div class="card teacher bg-dark">
    <center>
        <img class="pic" src="{{ teacher.picture.url }}" alt="{{ teacher.get_full_name }}">
    </center>
    <center>
        <div class="about">
            <h3>{{ teacher.get_full_name }}</h3>
            <p>متولد شهر : {{ teacher.city }}</p>
            <p>{{ teacher.biography|safe }}</p> 
        </div>
    </center>
</div>
