{% extends '../base.html' %}
{% block title %}@{{teacher.user.username}}{% endblock %}
{% load humanize %}
{% block body %}
<style>
    .teacher {
        width: 100%;
        height: fit-content;
        border-radius: 5px;
        background: linear-gradient(#941448, #751A5C, #3C2684);
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
    }
    .pic {
        border-radius: 50%;
        max-width: 150px;
        width: 100%;
        margin: 20px auto;
    }
    .about {
        color: white;
        text-align: center;
    }
    .course{
        max-width: 450px;
    }
    @media only screen and (max-width: 600px) {
        .teacher {
            padding: 10px;
        }
        .pic {
            max-width: 120px;
            margin: 10px auto;
        }
        .about h3 {
            font-size: 1.2em;
        }
        .about p {
            font-size: 0.9em;
        }

        .card {
            margin: 5px;
        }
    }
    form{
        display: inline;
    }
    @media (min-width: 600px) and (max-width: 992px) {
        .card {
            flex: 1 1 calc(50% - 20px);
        }
    }

    @media (min-width: 992px) {
        .card {
            flex: 1 1 calc(33.333% - 20px);
        }
    }

    .course {
        position: relative;
        margin: 10px;
        box-sizing: border-box;
    }

    .star-icon {
        position: absolute;
        top: 10px;
        left: 10px;
        padding: 5px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.6);
        color: white;
    }

    .btn {
        margin-top: 10px;
    }

    .flex {
        display: flex;
        text-align: center;
        
    }
    @media only screen and (max-width: 600px) {
        .flex {
            flex-direction: column; 
            align-items: center; 
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar for teacher profile -->
        <aside class="col-lg-15">
            <div class="card teacher bg-dark">
                <center>
                    <img class="pic" src="{{ teacher.picture.url }}" alt="{{ teacher.get_full_name }}">
                </center>
                <center>
                    <div class="about">
                        <h3>{{ teacher.get_full_name }}</h3>
                        <p>متولد شهر : {{ teacher.city }}</p>
                        <p>{{ teacher.biography|safe }}</p> 
                    </div>
                </center>
            </div>
        </aside>
    </div>
        
            <h3 style="margin-top: 30px;">دوره های {{teacher.user.get_full_name}}</h3>
        <div class="container-fluid">
            <div class="flex">
        {% for i in package %}
            <div class="card col-md-12 course" style="position: relative; margin: 10px; flex: 1 1 calc(33.333% - 20px); box-sizing: border-box;">
                <img src="{{i.img.url}}" class="card-img-top" alt="..." style="width: 100%; height: auto;">
                <div class="star-icon" style="position: absolute; top: 10px; left: 10px;  padding: 5px; border-radius: 50%;">
                    <strong>5.0</strong>
                </div>
                <div class="card-body">
                    <strong class="card-text" style="text-align: center; display: block;"><a href="{% url 'detail' i.slug %}">{{i.title}}</a></strong>
                    <div class="spans" style="display: flex; justify-content: space-between;">
                    {% if i.price == 0 %}
                        <span>قیمت : <span style="color: green;">رایگان !</span></span>
                    {% else %}
                        <span>قیمت : {{i.price|intcomma}}</span>
                    {% endif %}
                        <span>مدرس: {{i.user.first_name}} {{i.user.last_name}}</span>
                    </div>
                    
                    {% if i.is_active %}
                        <strong style="color: green;">وضعیت دوره: فعال</strong>
                    {% else %}
                        <strong style="color: red;">وضعیت دوره: درحال ظبط</strong>
                    {% endif %}
                    <br>
                    {% if request.user == i.user %}
                    <form method="POST" action="{% url 'del_pkg' i.slug %}">
                        {% csrf_token %}
                        <button type="submit" style="margin-top: 20px;" class="btn btn-danger">حذف دوره</button>
                    </form>
                    
                    <form method="get" action="{% url 'edit_pckage' i.slug %}">
                        <button type="submit" style="margin-top: 20px;" class="btn btn-warning">ادیت دوره</button>
                    </form>
                    
                    <form method="POST" action="{% url 'add_video' i.id %}">
                        {% csrf_token %}
                        <button type="submit" style="margin-top: 20px;" class="btn btn-success">اضافه کردن ویدیو</button>
                    </form>

                    {% endif %}
                </div>
            </div>
        {% empty %}
        <p >دوره ای وجود ندارد</p>
        {% endfor %}
    </div>
</div>
        

        <h3 style="margin-top: 30px;">مقاله های {{teacher.user.get_full_name}}</h3>
        <div class="container-fluid">
        <div class="flex">
        {% for j in blog %}
                <div class="card col-md-12 course" style="position: relative; flex: 1 1 calc(33.333% - 20px); margin: 10px; box-sizing: border-box;">
                    <img src="{{j.img.url}}" class="card-img-top" alt="..." style="width: 100%; height: auto;">
                    <div class="star-icon" style="position: absolute; top: 10px; left: 10px;  padding: 5px; border-radius: 50%;">
                        <strong>5.0</strong>
                    </div>
                    <div class="card-body">
                        <strong class="card-text" style="text-align: center; display: block;"><a href="{% url 'detail_blog' j.id %}">{{j.title}}</a></strong>
                        <div class="spans" style="display: flex; justify-content: space-between;">
                            <span>نوشته از: {{j.user.first_name}} {{j.user.last_name}}</span>
                        </div>
                        {% if request.user == j.user %}
                        <button style="margin-top: 20px;" class="btn btn-danger">حذف مطلب</button>
                        <button style="margin-top: 20px;" class="btn btn-warning">ادیت مطلب</button>
                        {% endif %}
                    </div>
                </div>
        
                {% empty %}
                <br><br><br>
                <h2 style="text-align: center;">مقاله ای وجود ندارد</h2>
                
            {% endfor %}
        </div>
    </div>
    </div>

    <h3 style="margin-top: 30px;">پرایم کست های {{teacher.user.get_full_name}}</h3>
    <div class="container-fluid">
    <div class="flex">

        {% for f in primecast %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card bg-dark" style="width: 100%; position: relative;">
                <strong style="text-align: center; color: white;">پرایم کست</strong>
                <hr style="color: white;">
                <h6 style="margin-right:20px; color: white;">{{f.title}}</h6>
                <small style="margin-right:20px; border: solid 1px white; width: fit-content; border-radius: 5px; padding: 5px; color: white; ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    شماره {{f.id}}
                </small>
                <small style="margin-right:20px; color: white; margin-top: 10px;">صدا از : {{f.user.first_name}} {{ f.user.last_name }}</small>
                <br>
                <div class="border-top"></div>
                <a href="{% url 'detail_padcast' f.slug %}" style="margin: auto; text-decoration: none;"><small style="color: white;">برای گوش دادن کلیک کنید </small></a>      
            </div>
        </div>
        {% empty %}
            <p>پرایم کستی وجود ندارد</p>
        {% endfor %}
    </div>
    </div>
    
{% endblock %}