a{
    text-decoration: none;
}
footer {
    background-color: #292990;
    padding: 20px;
    box-sizing: border-box;
}

.flex-container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin: auto;
    max-width: 1200px;
}

.info {
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    margin: 10px;
    color: rgb(255, 208, 0);
    transition: transform 0.3s ease;
}

.info:hover {
    transform: scale(1.1);
}

.side-right, .center-side, .left-side, .end-side {
    margin: 20px;
    flex: 1 1 200px;
}

.side-right {
    text-align: center;
}

.center-side {
    text-align: center;
}

.left-side {
    text-align: center;
}

.end-side {
    text-align: center;
}

.access-side {
    margin-bottom: 10px;
}

.access li {
    list-style: none;
    margin: 5px 0;
}

.access a {
    color: white;
    text-decoration: none;
}

.access a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .flex-container-footer {
        flex-direction: column;
        align-items: center;
    }

    .side-right, .center-side, .left-side, .end-side {
        margin: 10px 0;
        text-align: center;
    }
}

@media (max-width: 480px) {


    .access li {
        margin: 2px 0;
    }
}
